.chat-pop-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
