.input-container {
  display: flex;
  justify-content: center;
  width: 66.66%;
  max-width: 800px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
}

.input-text {
  width: 90%;
  padding: 1rem;
}

.input-button {
  width: 10%;
  max-width: 50px;
}
